
body {
    font-family: Arial, sans-serif;

}
form {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: blink 1.5s infinite alternate;
}
label, input, textarea {
    color: #fff;
    display: block;
    margin: 10px 0;
    background-color: blueviolet;
}
table {
    border-collapse: collapse;
    width: 50%;


}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
#form-container {
    margin-bottom: 20px;
}